<Project DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003" ToolsVersion="4.0">
  <ItemGroup>
	<Compile Include="LogViewerUIModel.cs" > 
	    <Inproject>false</Inproject>
	</Compile>
	<Compile Include="LogViewerUIModelExtend.cs" >
	    <Inproject>true</Inproject>
	</Compile>
  </ItemGroup>
  
  <ItemGroup>
    <Reference Include="System" />
    <Reference Include="System.Data" />
    <Reference Include="System.Xml" />  
    <Reference Include="UFSoft.UBF.Util.Data, Version=2.0.0.1, Culture=neutral, PublicKeyToken=aed5b8b71060d80b, processorArchitecture=MSIL">
      <HintPath>.\..\..\..\..\Yonyou\UBFV60\U9.VOB.Product.UBF\UBFStudio\Runtime\\UFSoft.UBF.Util.Data.dll</HintPath>      
      <SpecificVersion>False</SpecificVersion>
    </Reference>
    <Reference Include="UBF.System, Version=1.0.0.1, Culture=neutral, PublicKeyToken=aed5b8b71060d80b, processorArchitecture=MSIL">
      <HintPath>.\..\..\..\..\Yonyou\UBFV60\U9.VOB.Product.UBF\UBFStudio\Runtime\\UBF.System.dll</HintPath>
      <SpecificVersion>False</SpecificVersion>
    </Reference>
    <Reference Include="UFSoft.UBF.UI.MD.Runtime" >  
      <HintPath>.\..\..\..\..\Yonyou\UBFV60\U9.VOB.Product.UBF\UBFStudio\Runtime\\UFSoft.UBF.UI.MD.Runtime.dll</HintPath>
      <SpecificVersion>False</SpecificVersion>
    </Reference>
    <Reference Include="UFSoft.UBF.UI.IView">
      <HintPath>.\..\..\..\..\Yonyou\UBFV60\U9.VOB.Product.UBF\UBFStudio\Runtime\\UFSoft.UBF.UI.IView.dll</HintPath>
      <SpecificVersion>False</SpecificVersion>
    </Reference>
    <Reference Include="System.Runtime.Serialization" />
    <Reference Include="System.ServiceModel" />
    <Reference Include="UFSoft.UBF.UI.State" >  
      <HintPath>.\..\..\..\..\Yonyou\UBFV60\U9.VOB.Product.UBF\UBFStudio\Runtime\\UFSoft.UBF.UI.State.dll</HintPath>
      <SpecificVersion>False</SpecificVersion>
    </Reference>
    <Reference Include="UFSoft.UBF.UI.ActionProcess">
      <HintPath>.\..\..\..\..\Yonyou\UBFV60\U9.VOB.Product.UBF\UBFStudio\Runtime\\UFSoft.UBF.UI.ActionProcess.dll</HintPath>
      <SpecificVersion>False</SpecificVersion>
    </Reference>

  </ItemGroup>

</Project>
